# other files
*.log
*.txt
*.dt
~*.*

# PhpStorm & VSCode project files
/.idea/
/.vscode/

# Bitrix core
/bitrix/

# Bitrix download folder
/upload/


/*
!/local/
!/profile
!/.gitignore
!/.top.menu_ext.php
!/.top.menu_ext.php.bak
!/index.php
!/index_old.php

/local/logs/


